body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: black;
  color: white;
}

h1 {
  margin: 20px 0;
}
.account-form {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1.2rem;
  flex-wrap: wrap;
}
.transaction {
  display: flex;
  flex-direction: column;
}
.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.actions button {
  width: 200px;
}
.btn {
  margin-top: 1rem;
}
.account-form,
.transaction,
.result {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 15px;
  box-shadow: 3px 3px 10px turquoise, -3px -3px 10px turquoise;
}

button {
  padding: 1px px;
  margin-left: 5px;
}

input[type="text"],
input[type="number"] {
  padding: 5px;
  width: 150px;
}

#resultMessage {
  font-weight: bold;
  color: #16e4d39a;
}
